[submodule "kernel"]
	path = kernel
	url = git@github.com:MOS-Rust/kernel.git
[submodule "tools"]
	path = tools
	url = git@github.com:MOS-Rust/tools.git
[submodule "list"]
	path = list
	url = git@github.com:MOS-Rust/list.git
[submodule "allocator"]
	path = allocator
	url = git@github.com:MOS-Rust/allocator.git
[submodule "user"]
	path = user
	url = git@github.com:MOS-Rust/user.git
[submodule "mips"]
	path = mips
	url = git@github.com:MOS-Rust/mips.git
